<form class="example-form" [formGroup]="dataForm">
    <div class="font-bold mb-3 w-full flex justify-between"><span>วงจรย่อยที่ {{ Component + 1}}</span> <span>การติดตั้งกลุ่มที่ {{TypeInstallation}}</span> </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2">
      <mat-form-field class="">
        <mat-label>ฉนวนสายไฟ </mat-label>
        <mat-select formControlName="typeInsulation">
          <mat-option value="pvc">PVC</mat-option>
          <mat-option value="xlpe">XLPE</mat-option>
        </mat-select>
      </mat-form-field>
        <mat-form-field >
          <mat-label>ลักษณะตัวนำกระแส </mat-label>
          <mat-select formControlName="typeInductor">
            <mat-option value="single">แกนเดี่ยว</mat-option>
            <mat-option value="multiple">หลายแกน</mat-option>
          </mat-select>
        </mat-form-field>
      <div class="flex">
      <mat-slide-toggle formControlName="linebundle" class="mx-3 mt-3 w-50 ">มีสายควบ ?</mat-slide-toggle>
      <mat-form-field class="w-full my-0" *ngIf="dataForm.get('linebundle')?.value">
        <mat-label>จำนวนสายควบ <i class="fa-solid fa-circle-user"></i></mat-label>
        <input matInput type="number" max="10" min="1" formControlName="linebundleAmount"/>
      </mat-form-field>
      </div>
    </div>
    <div class="card flex justify-between">
      <div>
        ขนาดสาย (ตร.มม.)
      </div>
      <div class="text-bold">
        {{this.dataForm.get('diameter')?.value}}
      </div>
    </div>
    <div class="flex justify-between pt-4">
      <button mat-flat-button class="px-3" style="background-color: rgb(255, 79, 79);" (click)="onDelete()" ngSkipHydration>
        <i class="fa-solid fa-times-circle pr-2"></i>ลบวงจรย่อย
      </button>
      <button mat-flat-button extended class="px-3" (click)="calculating()"  ngSkipHydration>
        <i class="fa-solid fa-calculator"></i> คำนวณ
      </button>
    </div>
  </form>
  